.collapseContainer {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--transition-normal);
}

.collapseExpanded {
  grid-template-rows: 1fr;
}

.collapseInner {
  overflow: hidden;
}